<div class="span6 offset3">
  <h2>sign up</h2>

  <form action="<%= users_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="user_username">username</label>
    <input 
      type="text" 
      name="user[username]" 
      id="user_username"
      value="<%= @user.username %>">
    <br>

    <label for="user_password">password</label>
    <input 
      type="password" 
      id="user_password"
      name="user[password]">
    <br>

    <h4>optional: create a shop</h4>
    <label for="user_shop_attributes_name">shop name</label>
    <input 
      type="text" 
      name="user[shop_attributes][name]" 
      id="user_shop_attributes_name"
      value="<%= @user.shop.name if @user.shop %>">
    <br>

    <input type="submit" value="sign up" class="btn">
  </form>

  <hr>
  <p>
    Have an account? <%= link_to "Log in", new_session_path %>
  </p>
</div>