<h1><%= @user.username %> </h1>

<div>
  <% if @user.filepicker_url %>
    <%= filepicker_image_tag @user.filepicker_url, w: 120, h: 120, fit: 'clip' %>
  <% end %>
</div>

<% if @user.shop %>
  <div>
    <%= link_to "View shop: " + @user.shop.name, shop_url(@user.shop) %>
  </div>
<% else %>
  <h4>Open a shop</h4>
  <form action="<%= user_url(@user) %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="authenticity_token" 
      value="<%= form_authenticity_token %>">

    <label for="user_shop_attributes_name">Shop name</label>
    <input 
      type="text" 
      name="user[shop_attributes][name]" 
      id="user_shop_attributes_name">
    <br>

    <input type="submit" value="Create shop" />
  </form>
<% end %>

<div>
  <%= link_to "View your favorites", user_favorites_url(@user) %>
<%#= link_to "View your purchases", orders_url(@user) %>
</div>

<br>

<%= form_for @user do |f| %>
  <div>
    <h4>Add avatar</h4>
    <%= f.filepicker_field :filepicker_url %> 
  </div>

  <div>
    <h4>Change password</h4>
    <%= f.label :password, "New password" %>
    <br>
    <%= f.password_field :password %>
  </div>
  <br>
  <%= f.submit %>
<% end %>