<%= render partial: "shared/page_header", locals: { header: @user.username } %>

<%= render partial: "shared/user_sidebar", locals: { user: @user } %>

<div class="span3">
  <%= form_for @user do |f| %>
      <h4>avatar</h4>
      <%= f.filepicker_field :filepicker_url %> 

    <%= f.submit "upload avatar" %>
  <% end %>
  <hr>

  <%= form_for @user do |f| %>
      <h4>change password</h4>
      <%= f.label :password, "new password" %>
      <%= f.password_field :password %>
    <br>
    <%= f.submit "set password" %>
  <% end %>
  <hr>

  <% if @user.shop.nil? %>
    <h4>open a shop</h4>
    <form action="<%= user_url(@user) %>" method="post">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="authenticity_token" 
        value="<%= form_authenticity_token %>">

      <label for="user_shop_attributes_name">shop name</label>
      <input 
        type="text" 
        name="user[shop_attributes][name]" 
        id="user_shop_attributes_name">
      <br>

      <input type="submit" value="create shop" />
    </form>
  <% end %>
</div>