<div class="item">
  <div class="item_photo">
    <%= filepicker_image_tag item.filepicker_url, w: 160, h: 140, fit: 'crop'%>
  </div>

  <div class="item_title">
    <%= link_to item.title, item_url(item) %>
  </div>

  <div class="item_price">
    <% if item.purchased %>
      SOLD
    <% else %>
      <%= number_to_currency(item.price) %>
    <% end %>
  </div>

  <br>
  <div class="item_shop">
    <%= link_to item.shop.name, shop_url(item.shop) %>
  </div>

  <% if @favorited_items && !(current_user.items.include?(item)) %>
    <% if @favorited_items.include?(item) %>
      <!-- unfavorite form -->
      <% fave = Favorite.where(user_id: current_user.id, item_id: item.id).first %>
      <form action="<%= favorite_url(fave) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="favorite[id]" value="<%= fave.id %>">

        <input type="submit" value="Unfavorite">
      </form>
    <% else %>
      <!-- favorite form -->
      <form action="<%= favorites_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="favorite[item_id]" value="<%= item.id %>">

        <input type="submit" value="Favorite">
      </form>
     <% end %>
  <% end %> 
</div>
