<div class="span2 item">
  <div class="item_photo">
    <%= filepicker_image_tag item.filepicker_url, w: 160, h: 140, fit: 'crop'%>
  </div>

  <div class="item-title">
    <%= link_to item.title, item_url(item) %>
  </div>

  <div class="item-price">
    <% if item.purchased %>
      SOLD
    <% else %>
      <%= number_to_currency(item.price) %>
    <% end %>
  </div>

  <% if user_authorized?(item.owner) %>  
    <div class="btn-group edit-delete-group">
      <%= link_to "edit", edit_item_url(item), method: "get", class: "btn" %> 
      <%= link_to "delete", item_url(item), method: "delete", class: "btn" %>
    </div>
  <% end %>

  <% if @favorited_items && !(current_user.items.include?(item)) %>
    <% if @favorited_items.include?(item) %>
      <!-- unfavorite form -->
      <% fave = Favorite.where(user_id: current_user.id, item_id: item.id).first %>
      <%= link_to "unfavorite", favorite_url(fave), method: "delete", class: "btn" %> 
    <% else %>
      <!-- favorite form -->
      <%= link_to "favorite", favorites_url(favorite: { item_id: item.id }), method: "post", class: "btn" %>
    <% end %>
  <% end %> 
</div>
