<li class="span3 item-list">
  <div class="thumbnail">
    <div class="fav-edit-buttons">
      <% not_seller = @user && (@user.shop != item.shop) %>

      <% if not_seller %>
      
        <% unfav_class = @user.favorited_items.include?(item) ? "" : "hidden" %>
        <button class="btn unfavorite <%= unfav_class %>" data-id="">
          &hearts;
        </button>
        
        <% fav_class = @user.favorited_items.include?(item) ? "hidden" : "" %>
        <button class="btn favorite <%= fav_class %>" data-id="<%= item.id %>">
          &#9825;
        </button>
      
        <%= link_to "", cart_url(cart: { item_id: item.id }), method: "post", class: "btn cart icon-shopping-cart" %>

      <% elsif user_authorized?(item.shop.owner) %>
        
        <div class="btn-group">
          <%= link_to "", edit_item_url(item), method: "get", class: "btn icon-edit" %> 
          <%= link_to "", item_url(item), method: "delete", class: "btn icon-trash" %>
        </div>

      <% end %>
    </div>

    <%= filepicker_image_tag item.filepicker_url, w: 260, h: 120, fit: 'crop' %>
    
    <div class="item-header">
      <h4><%= link_to item.title, item_url(item) %></h4>
    </div>
    
    
    <span class="small">
      <%= link_to item.shop.name, shop_url(item.shop) %>
    </span>
    
    <p>
      <% if item.purchased %>
        SOLD
      <% else %>
        <%= number_to_currency(item.price) %>
      <% end %>
    </p>
  </div>
</li>
