<%= render partial: "shared/page_header", locals: { header: @shop.name + " orders" } %>

<%= render partial: "shared/shop_sidebar", locals: { shop: @shop } %>

<div class="span9">
  <% if @orders.empty? %>
    <h4>You have no orders</h4>
  <% else %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>buyer</th>
          <th>order date</th>
          <th>order total</th>
          <th>order status</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.buyer.username %>
            </td>
            <td>
              <%= order.created_at.strftime('%A, %B %-d, %Y') %>
            </td>
            <td>
              <strong><%= number_to_currency(order_total(order)) %></strong>
            </td>
            <td>
              <%= order.status ? "shipped" : "not shipped" %>
              <% if !order.status %>
                <form action="<%= order_url(order) %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="put">

                  <input type="hidden" name="order[status]" id="order_status"value="true">
                  <input type="submit" value="mark as shipped" class="btn">
                </form>
              <% end %>
            </td>
          </tr>
          <% order.items.each do |item| %>
            <tr>
              <td></td>
              <td>
                <%= link_to item.title, item_url(item) %>
              </td>
              <td>
                <%= number_to_currency(item.price) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>