<div class="span5">
  <%= form_for @item do |f| %>
    <%= f.label :title, "title" %>
    <%= f.text_field :title %> 

    <%= f.label :description, "description" %> 
    <%= f.text_area :description, cols: 100, rows: 10 %>

    <%= f.label :price, "price" %>
    $<%= f.text_field :price %>

    <label for="item_category_id">category</label>
    <select 
      type="text" 
      name="item[category_id]" 
      id="item_category_id">
      
      <% @categories.each do |cat| %>
        <option value="<%= cat.id %>"><%= cat.name.downcase %></option>
      <% end %>
    </select>

    <div>
      <%= f.label :filepicker_url, "upload photo" %>
      <%= f.filepicker_field :filepicker_url %>
    </div>

    <br>
    <%= f.submit "submit" %>
  <% end %>
</div>