<%= form_for @item do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> 
  <br>

  <%= f.label :description %> 
  <br>
  <%= f.text_area :description, cols: 30, rows: 10 %>
  <br>

  <%= f.label :price %>
  <%= f.text_field :price %>
  <br>

  <label for="item_category_id">Category</label>
  <select 
    type="text" 
    name="item[category_id]" 
    id="item_category_id">
    
    <% @categories.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>

  </select>
  <br>

  <div>
    <%= f.label :filepicker_url, "Upload photo:" %>
    <%= f.filepicker_field :filepicker_url %>
  </div>

  <%= f.submit %>
<% end %>