<%= render partial: "shared/page_header", locals: { header: @item.title } %>

<div class="span9 offset2">
  <div class="row">
    <div class="span5 item-photo-large">
      <%= filepicker_image_tag @item.filepicker_url, w: 400, h: 400, fit: 'clip' %>
    </div>

    <div class="span3">
      <div class="item-show-price">
        <strong><%= number_to_currency(@item.price) %></strong>
      </div>

      <div class="sold-or-cart-btn"> 
        <% if @item.purchased %>
          <br><br>
          <p><strong>SOLD</strong></p>
        <% elsif !current_user %>
          <%= link_to "log in", new_session_url, class: "btn" %> or 
          <%= link_to "sign up", new_user_url, class: "btn" %> to buy this item!
        <% elsif current_user && !(current_user.items.include?(@item)) %>
          <br><br>
          <%= link_to "  add to cart", cart_url(cart: { item_id: @item.id }), method: "post", class: "btn icon-shopping-cart" %>
        <% end %>
      </div>

      <div class="item-show-shop">
        View other items by  
        <%= link_to @item.shop.name, shop_url(@item.shop) %>
      </div>
      <hr>

      <div class="item-show-category">
        <% cat = @item.category.name %>
        Category: <%= link_to cat, items_url({ search: cat }), :'data-id' => @item.category.id %>
      </div>
    </div>  
  </div>

  <div>
    <div class="span5 item-show-description">
      <%= @item.description %>
    </div>
  </div>
</div>
