<h1><%= @item.title %></h1>

<button>buy item</button>
<br>

<%= @item.description %>
<br>

$<%= @item.price %>
<br>

This item brought to you by <%= link_to @item.shop.name, shop_url(@item.shop) %>
<hr>

Category: <%= @item.category.name %>